<!DOCTYPE html>
<meta charset="utf-8">
<title>Web Compatibility Telemetry Dashboards</title>
<style type="text/css">
  main {
    display: flex;
    justify-content: center;
  }
  ul {list-style: none;}
  h4 {margin: 0.5em 0;}
  body {font-family: sans-serif;  }
  .chart {flex-grow: 1; margin: 2em;}
  .legend {cursor: pointer;}
</style>
<main>
<div class="chart">
  <h3>H.264 level from canPlayType()</h3>
  <h4 id="canplaytype-submissions"></h4>
  <h4 id="canplaytype-measure"></h4>
  <canvas id="canplaytype" width="400" height="400"></canvas>
  <div id="legend1"></div>
</div>

<div class="chart">
  <h3>H.264 level from decoded SPS</h3>
  <h4 id="decodedsps-submissions"></h4>
  <h4 id="decodedsps-measure"></h4>
  <canvas id="decoded" width="400" height="400"></canvas>
  <div class="legend" id="legend2"></div>
</div>
</main>
<script src="http://telemetry.mozilla.org/v1/telemetry.js"></script>
<script src="chart.js"></script>
<script>

var helpers = Chart.helpers;

// some helper junk
function getColor() {
  var i = 0;
  var colors = [
    '#1ffb81', '#1eee89', '#1ee192', '#1ed59a', 
    '#1ec8a3', '#1ebbac', '#1eafb4', '#1ea2bd', 
    '#1e95c6', '#1e89ce', '#1e7cd7', '#1e6fe0', 
    '#1e63e8', '#1e56f1', '#1e4afa', '#2d46f7',
    '#2d46f7', '#4942f0', '#5840ec', '#663ee9',
    '#753de6', '#833be2', '#9239df', '#a037dc',
    '#ae35d8', '#bd34d5', '#cb32d2', '#da30ce',
    '#e82ecb', '#f735bc', '#f73eb2', '#f73db1',
    '#f746a6'
  ]
  return function() {
    return colors[++i];
  }
}

var nextColor = getColor();

function getLabel(prefix, index) {
  if (index === 0) {
    return "Invalid level";
  } else {
    return prefix + ((index * 10) * .1) / 10;
  }
}

Telemetry.init(function() {
  var versions = Telemetry.versions();
  var nightly38 = versions.indexOf("nightly/38");
  var version = versions[nightly38];

  Telemetry.measures(version, function(measures) {
    Telemetry.loadEvolutionOverTime(version, 'VIDEO_CANPLAYTYPE_H264_LEVEL', function(histogramEvolution) {
        var data = [];
        var histogram = histogramEvolution.range();
        //number of submissions

        document.getElementById('canplaytype-submissions').innerHTML = 'Total submissions: ' + histogram.submissions();
        document.getElementById('canplaytype-measure').innerHTML = 'Histogram name: ' + histogram.measure();

        console.log(histogram.description());
  
        //massage the data for Chart.js
        var data = [];
        histogram.each(function(count, start, end, index) {
          if (count) {
            data.push({
              value: count,
              color: nextColor(),
              highlight: '#f7a32d',
              label: getLabel("Level ", index)
            });
          }
        });


        var donut = new Chart(document.getElementById("canplaytype").getContext("2d")).Doughnut(data, {
          animateRotate : false,
          animateScale : false,
          percentageInnerCutout: 40,
          segmentStrokeWidth : 1,
          legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"width:10px;height:10px;background-color:<%=segments[i].fillColor%>\">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;<%if(segments[i].label){%><%=segments[i].label%>, Total: <%=segments[i].value%><%}%></li><%}%></ul>"
        });

        var legendHolder = document.getElementById("legend1");
        legendHolder.innerHTML = donut.generateLegend();

        helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
          helpers.addEvent(legendNode, 'mouseover', function(){
            var activeSegment = donut.segments[index];
            activeSegment.save();
            activeSegment.fillColor = activeSegment.highlightColor;
            donut.showTooltip([activeSegment]);
            activeSegment.restore();
          });
        });
        helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
          donut.draw();
        });
    });

    Telemetry.loadEvolutionOverTime(version, 'VIDEO_DECODED_H264_SPS_LEVEL', function(histogramEvolution) {
        var histogram = histogramEvolution.range();
        
        document.getElementById('decodedsps-submissions').innerHTML = 'Total submissions: ' + histogram.submissions();
        document.getElementById('decodedsps-measure').innerHTML = 'Histogram name: ' + histogram.measure();

        console.log(histogram.description());
  
        var data = [];
        histogram.each(function(count, start, end, index) {
          if (count) {
            data.push({
              value: count,
              color: nextColor(),
              highlight: '#f7a32d',
              label: getLabel("Level", index)
            });
          }
        });


        var donut = new Chart(document.getElementById("decoded").getContext("2d")).Doughnut(data, {
          animateRotate : false,
          animateScale : false,
          percentageInnerCutout: 40,
          segmentStrokeWidth : 1,
          legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"width:10px;height:10px;background-color:<%=segments[i].fillColor%>\">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;<%if(segments[i].label){%><%=segments[i].label%>, Total: <%=segments[i].value%><%}%></li><%}%></ul>"
        });

        var legendHolder = document.getElementById("legend2");
        legendHolder.innerHTML = donut.generateLegend();

        helpers.each(legendHolder.firstChild.childNodes, function(legendNode, index){
          helpers.addEvent(legendNode, 'mouseover', function(){
            var activeSegment = donut.segments[index];
            activeSegment.save();
            activeSegment.fillColor = activeSegment.highlightColor;
            donut.showTooltip([activeSegment]);
            activeSegment.restore();
          });
        });
        helpers.addEvent(legendHolder.firstChild, 'mouseout', function(){
          donut.draw();
        });
    });
  });
});

</script>