<!DOCTYPE html>
<meta charset="utf-8">
<title>Web Compatibility Telemetry Dashboards</title>
<style type="text/css">
  main {
    display: flex;
    justify-content: center;
  }
  ul {list-style: none;padding:0;}
  h4 {margin: 0.5em 0;}
  body {font-family: sans-serif;}
  table {width: 100%;}
  .chart {flex-grow: 1; margin: 2em;}
  .legend {cursor: pointer;}
  .legend li span:nth-child(2){float: right}
</style>
<h1>WAP content-type responses in Firefox Mobile Nightly 40</h1>
<main>
<div class="chart">
  <h3>B2G WAP content-type HTTP response</h3>
  <h4 id="wap-b2g-submissions"></h4>
  <h4 id="wap-b2g-measure"></h4>
  <canvas id="wap-b2g" width="400" height="400"></canvas>
  <div class="legend" id="legend1"></div>
</div>

<div class="chart">
  <h3>Fennec WAP content-type HTTP response</h3>
  <h4 id="wap-fennec-submissions"></h4>
  <h4 id="wap-fennec-measure"></h4>
  <canvas id="wap-fennec" width="400" height="400"></canvas>
  <div class="legend" id="legend2"></div>
</div>
</main>
<script src="https://telemetry.mozilla.org/v1/telemetry.js"></script>
<script src="js/chart.js"></script>
<script src="js/common.js"></script>
<script>
var helpers = Chart.helpers;
Chart.defaults.global.percentageInnerCutout = 50;
Chart.defaults.global.segmentStrokeWidth = 1;



Telemetry.init(function() {
  var versions = Telemetry.versions();
  var nightly40 = versions.indexOf("nightly/40");
  var version = versions[nightly40];

  Telemetry.measures(version, function(measures) {
    Telemetry.loadEvolutionOverTime(version, 'HTTP_WAP_CONTENT_TYPE_RECEIVED', function(histogramEvolution) {
      var data = [];
      var histogram = histogramEvolution.filter('saved_session').filter('B2G').range();
      var submissions = histogram.submissions();

      document.getElementById('wap-b2g-submissions').innerHTML = 'Total submissions: ' + submissions;
      document.getElementById('wap-b2g-measure').innerHTML = 'Histogram name: ' + histogram.measure();

      var data = [];
      histogram.each(function(count, start, end, index) {
        if (count) {
          data.push({
            value: count,
            color: nextColor(),
            highlight: '#f7a32d',
            label: getWapLabel(index)
          });
        }
      });

      window.b2gTotal = data.reduce(function(prev, curr){
        return prev + curr.value;
      }, 0);

      var legendTmpl = "<table class=\"<%=name.toLowerCase()%>-legend\">\
                          <% for (var i=0; i < segments.length; i++){%> \
                          <tr>\
                            <td style=\"background-color:<%=segments[i].fillColor%>\">\
                            &nbsp;&nbsp;&nbsp;&nbsp;</td>&nbsp;\
                            <%if(segments[i].label){%>\
                              <td><%=segments[i].label%></td>\
                              <td><%=segments[i].value%></td>\
                              <td><%=((segments[i].value / window.b2gTotal) * 100).toFixed(6) + '%'%></td>\
                            <%}%>\
                          </tr>\
                          <%}%>\
                        </table>";//((index * 10) * .1) / 10 Math.round(x / 100) * 100

      var tooltipTmpl = "\
        <%if (label){%>\
          <%=label%>: \
        <%}%> <%= ((value / window.b2gTotal) * 100).toFixed(6) + '%' %>";

      Chart.defaults.global.legendTemplate = legendTmpl;
      Chart.defaults.global.tooltipTemplate = tooltipTmpl;

      var ctx = document.getElementById("wap-b2g").getContext("2d");
      var donut = new Chart(ctx).Doughnut(data, Chart.defaults.global);

      var legend = document.getElementById("legend1");
      legend.innerHTML = donut.generateLegend();

      helpers.each(legend.firstElementChild.rows, function(legendNode, index){
        helpers.addEvent(legendNode, 'mouseover', function(){
          var activeSegment = donut.segments[index];
          activeSegment.save();
          activeSegment.fillColor = activeSegment.highlightColor;
          donut.showTooltip([activeSegment]);
          activeSegment.restore();
        });
      });
      helpers.addEvent(legend.firstElementChild, 'mouseout', function(){
        donut.draw();
      });
    });

    Telemetry.loadEvolutionOverTime(version, 'HTTP_WAP_CONTENT_TYPE_RECEIVED', function(histogramEvolution) {
        var histogram = histogramEvolution.filter('saved_session').filter('Fennec').range();
        var submissions = histogram.submissions();

        document.getElementById('wap-fennec-submissions').innerHTML = 'Total submissions: ' + histogram.submissions();
        document.getElementById('wap-fennec-measure').innerHTML = 'Histogram name: ' + histogram.measure();

        var data = [];
        histogram.each(function(count, start, end, index) {
          if (count) {
            data.push({
              value: count,
              color: nextColor(),
              highlight: '#f7a32d',
              label: getWapLabel(index)
            });
          }
        });

        window.fennecTotal = data.reduce(function(prev, curr) {
          return prev + curr.value;
        }, 0)

        var legendTmpl = "<table class=\"<%=name.toLowerCase()%>-legend\">\
                            <% for (var i=0; i < segments.length; i++){%> \
                            <tr>\
                              <td style=\"background-color:<%=segments[i].fillColor%>\">\
                              &nbsp;&nbsp;&nbsp;&nbsp;</td>&nbsp;\
                              <%if(segments[i].label){%>\
                                <td><%=segments[i].label%></td>\
                                <td><%=segments[i].value%></td>\
                                <td><%=((segments[i].value / window.fennecTotal) * 100).toFixed(6) + '%'%></td>\
                              <%}%>\
                            </tr>\
                            <%}%>\
                          </table>";//((index * 10) * .1) / 10 Math.round(x / 100) * 100

        var tooltipTmpl = "\
          <%if (label){%>\
            <%=label%>: \
          <%}%> <%= ((value / window.fennecTotal) * 100).toFixed(6) + '%' %>";

        Chart.defaults.global.legendTemplate = legendTmpl;
        Chart.defaults.global.tooltipTemplate = tooltipTmpl;

        var ctx = document.getElementById("wap-fennec").getContext("2d");
        var donut = new Chart(ctx).Doughnut(data, Chart.defaults.global);
        var legend = document.getElementById("legend2");
        legend.innerHTML = donut.generateLegend();

        helpers.each(legend.firstElementChild.rows, function(legendNode, index){
          helpers.addEvent(legendNode, 'mouseover', function(){
            var activeSegment = donut.segments[index];
            activeSegment.save();
            activeSegment.fillColor = activeSegment.highlightColor;
            donut.showTooltip([activeSegment]);
            activeSegment.restore();
          });
        });
        helpers.addEvent(legend.firstElementChild, 'mouseout', function(){
          donut.draw();
        });
    });
  });
});

</script>